.signUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .image {
        overflow: hidden;
        img {
            object-fit: cover;
            height: 100vh;
            display: block;
        }
    }

    .form {
        padding: 40px 15vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .errorMessage {
            color: #f44336;
            font-size: 16px;
            line-height: 2.66;
            letter-spacing: 0.03em;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        h1 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .form-group {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            .icon {
                border-top: 1px solid #d3d0cb;
                border-left: 1px solid #d3d0cb;
                border-bottom: 1px solid #d3d0cb;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                .MuiSvgIcon-root {
                    color: #d3d0cb;
                    padding: 8px;
                }
            }
            .login {
                flex: 1;
                border: 1px solid #d3d0cb;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .inputWrapper {
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid #d3d0cb;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                .MuiSvgIcon-root {
                    padding-right: 10px;
                    color: #d3d0cb;
                    cursor: pointer;
                }
                input {
                    flex: 1;
                    height: 80%;
                    border: none;
                }
            }
            input {
                outline: none;
                padding-left: 10px;
            }
        }
        .header {
            display: flex;
            margin-bottom: 20px;
        }

        .check {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 20px;
            width: 100%;
            .MuiButtonBase-root {
                padding: 0px;
            }
        }

        .btnSignUp {
            background-color: #4686ff;
            border: none;
            outline: none;
            width: 100%;
            color: white;
            border-radius: 5px;
            padding: 10px 0px;
            cursor: pointer;
        }
    }
}
